DB_HOST=127.0.0.1
DB_DATABASE=ccis_connect
DB_USERNAME=root
DB_PASSWORD=

APP_URL=http://127.0.0.1:8000

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=CCIS Connect

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/google-callback.php

PAYMONGO_ENV=test
PAYMONGO_PUBLIC_KEY=
PAYMONGO_SECRET_KEY=
PAYMONGO_WEBHOOK_SECRET=
